$icomoon-font-family: "thetis_icon" !default;
$icomoon-font-path: "./fonts" !default;

$icon_arrow_switch: "\e9b3";
$icon_bus_line_alt: "\e9b4";
$icon_cascade: "\e9b5";
$icon_pencil: "\e9b6";
$icon_g: "\e900";
$icon_add: "\e901";
$icon_alert: "\e902";
$icon_arrival_time: "\e903";
$icon_arrow_down_long: "\e904";
$icon_arrow_down: "\e905";
$icon_arrow_left_long: "\e906";
$icon_arrow_left: "\e907";
$icon_arrow_right_long: "\e908";
$icon_arrow_right: "\e909";
$icon_arrow_up_long: "\e90a";
$icon_arrow_up: "\e90b";
$icon_arrows: "\e90c";
$icon_ask_info: "\e90d";
$icon_audio: "\e90e";
$icon_basegrid_1: "\e90f";
$icon_basegrid_1big: "\e910";
$icon_basegrid_2: "\e911";
$icon_basegrid_3: "\e912";
$icon_basegrid_4: "\e913";
$icon_basegrid_4big: "\e914";
$icon_basegrid_5: "\e915";
$icon_basegrid_6: "\e916";
$icon_basegrid_6big: "\e917";
$icon_basegrid_7: "\e918";
$icon_basegrid_7big: "\e919";
$icon_basegrid_8: "\e91a";
$icon_basegrid_8big: "\e91b";
$icon_basegrid_9: "\e91c";
$icon_basegrid_9big: "\e91d";
$icon_basegrid_10: "\e91e";
$icon_basegrid_10big: "\e91f";
$icon_bell: "\e920";
$icon_binocular: "\e921";
$icon_boat: "\e922";
$icon_books: "\e923";
$icon_broke: "\e924";
$icon_bus_back: "\e925";
$icon_bus_line: "\e926";
$icon_bus: "\e927";
$icon_calendar: "\e928";
$icon_call: "\e929";
$icon_car_crash: "\e92a";
$icon_check: "\e92b";
$icon_circle_alt: "\e92c";
$icon_circle_check: "\e92d";
$icon_circle: "\e92e";
$icon_clock: "\e92f";
$icon_close: "\e930";
$icon_cogs: "\e931";
$icon_coincidence: "\e932";
$icon_columns: "\e933";
$icon_connect: "\e934";
$icon_contrast: "\e935";
$icon_copy: "\e936";
$icon_ctl_backward: "\e937";
$icon_ctl_forward: "\e938";
$icon_ctl_next: "\e939";
$icon_ctl_pause: "\e93a";
$icon_ctl_prev: "\e93b";
$icon_ctl_stop: "\e93c";
$icon_cut: "\e93d";
$icon_database: "\e93e";
$icon_departure_time: "\e93f";
$icon_desktop: "\e940";
$icon_deviation: "\e941";
$icon_display: "\e942";
$icon_doc_folder: "\e943";
$icon_doc_page: "\e944";
$icon_doc_table: "\e945";
$icon_dog: "\e946";
$icon_download_log: "\e947";
$icon_download_mobile: "\e948";
$icon_download: "\e949";
$icon_draw: "\e94a";
$icon_edit: "\e94b";
$icon_end_point: "\e94c";
$icon_error: "\e94d";
$icon_exit: "\e94e";
$icon_expand_1: "\e94f";
$icon_expand: "\e950";
$icon_eye_dis: "\e951";
$icon_eye: "\e952";
$icon_filter: "\e953";
$icon_garbage: "\e954";
$icon_gps: "\e955";
$icon_help: "\e956";
$icon_home: "\e957";
$icon_info: "\e958";
$icon_insert: "\e959";
$icon_inter: "\e95a";
$icon_light_down: "\e95b";
$icon_light_up: "\e95c";
$icon_linear_view: "\e95d";
$icon_list: "\e95e";
$icon_lock: "\e95f";
$icon_login: "\e960";
$icon_logout: "\e961";
$icon_mail: "\e962";
$icon_maintenance: "\e963";
$icon_map_route: "\e964";
$icon_map: "\e965";
$icon_match: "\e966";
$icon_medical: "\e967";
$icon_menu: "\e968";
$icon_message: "\e969";
$icon_minimize: "\e96a";
$icon_more: "\e96b";
$icon_narrow: "\e96c";
$icon_navigator: "\e96d";
$icon_new_file: "\e96e";
$icon_paperclip: "\e96f";
$icon_paste: "\e970";
$icon_people: "\e971";
$icon_pin_empty: "\e972";
$icon_pin_map: "\e973";
$icon_pin: "\e974";
$icon_planification: "\e975";
$icon_play: "\e976";
$icon_print: "\e977";
$icon_puzzle: "\e978";
$icon_radar: "\e979";
$icon_reduce: "\e97a";
$icon_refresh: "\e97b";
$icon_remove: "\e97c";
$icon_restart: "\e97d";
$icon_road_block: "\e97e";
$icon_road_in: "\e97f";
$icon_road_off: "\e980";
$icon_route: "\e981";
$icon_satellite: "\e982";
$icon_save: "\e983";
$icon_sawtooth: "\e984";
$icon_search: "\e985";
$icon_settings: "\e986";
$icon_shift_a: "\e987";
$icon_shift_b: "\e988";
$icon_shift_c: "\e989";
$icon_shift_d: "\e98a";
$icon_shift_e: "\e98b";
$icon_shift_f: "\e98c";
$icon_shift_failed: "\e98d";
$icon_shift_g: "\e98e";
$icon_shift_h: "\e98f";
$icon_shift: "\e990";
$icon_sign: "\e991";
$icon_sort_asc: "\e992";
$icon_sort_desc: "\e993";
$icon_square_alt: "\e994";
$icon_square_check: "\e995";
$icon_square: "\e996";
$icon_star_full: "\e997";
$icon_star: "\e998";
$icon_start_point: "\e999";
$icon_stats: "\e99a";
$icon_status: "\e99b";
$icon_stop: "\e99c";
$icon_switch_on: "\e99d";
$icon_switch: "\e99e";
$icon_table: "\e99f";
$icon_tags: "\e9a0";
$icon_text: "\e9a1";
$icon_thetis_logo: "\e9a2";
$icon_Touch: "\e9a3";
$icon_traffic_light: "\e9a4";
$icon_tram_dis: "\e9a5";
$icon_tram_line: "\e9a6";
$icon_tram: "\e9a7";
$icon_trash: "\e9a8";
$icon_upload_pkg: "\e9a9";
$icon_upload: "\e9aa";
$icon_user_add: "\e9ab";
$icon_user_remove: "\e9ac";
$icon_user: "\e9ad";
$icon_users: "\e9ae";
$icon_walk: "\e9af";
$icon_wheelchair: "\e9b0";
$icon_wifi: "\e9b1";
$icon_world: "\e9b2";
